body {
  width: 100vw;
  /* height: 100vh; */
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.wrapper {
  width: 400vw;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: contain;
  height: 500px;
  animation: cloud linear 180s infinite;
  z-index: -1;
}
.trees {
  width: 800vw;
  height: 300px;
  position: absolute;
  top: 100px;
  background-image: url(images/trees.png);
  background-size: contain;
  background-position: bottom;
  animation: trees linear 120s infinite;
}
.track {
  width: 600%;
  height: 270px;
  position: absolute;
  top: 400px;
  background-image: url(images/track.png);
  background-size: contain;
  background-position: center;
  animation: track linear 6s infinite;
}
.car-body {
  display: flex;
  z-index: 5;
  position: absolute;
  top: 330px;
  left: 25%;
  width: 300px;
  height: 100px;
  background-image: url(images/car_body.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: shake linear 1500ms infinite;
}
.wheel1 {
  z-index: 6;
  background-image: url(images/car_wheel_right.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 19%;
  height: 57%;
  position: relative;
  top: 42%;
  left: 44.5%;
  animation: wheel-rotation 200ms infinite linear;
}
.wheel2 {
  z-index: 7;
  background-image: url(images/car_wheel_left.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18%;
  height: 54%;
  position: relative;
  top: 42%;
  left: 12.5%;
  animation: wheel-rotation 200ms infinite linear;
}
.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    color: red;
    z-index: 8;
    font-family: Arial, Helvetica, sans-serif;

}
.h1{
    position: absolute;
    top: 450px;
    font-size: 50px;
}
#x2{
    opacity: 0;
}

/* key frames */
@keyframes wheel-rotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes track {
  100% {
    transform: translateX(-300vw);
  }
}
@keyframes shake {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes trees {
  100% {
    transform: translateX(-400vw);
  }
}
@keyframes cloud {
  100% {
    transform: translateX(-200vw);
  }
}

/* media query */
@media screen and (max-width:700px) {
    .h1{
        font-size: 26px;
        top: 500px;
    }
    #x2{
        opacity: 1;
    }
    #x1{
        opacity: 0;
    }
    .car-body{
        left: 8%;
        top: 400px;
        height: 70px;
        width: 210px;
    }
    .track{
        top: 450px;
    }
    .trees{
        top: 150px;
    }
}